<div class="footer-container">
	<div class="container">
		<div class="row">
			<section class="col-12 col-sm-6">
				<div class="row">
					<div class="col-12">
						<div class="media">
							<div class="media-left">
								<a target="_blank" href="https://www.google.com.ar/maps/place/Av.+V%C3%A9lez+Sarsfield+311,+X5000JJD+C%C3%B3rdoba/@-31.4196501,-64.1893135,18.04z/data=!4m5!3m4!1s0x9432a2840ecabfb1:0xe7d8f98c4a6aabc5!8m2!3d-31.418941!4d-64.1882202">
									<i class="fa fa-location-arrow"></i>
								</a>
							</div>
							<div class="media-body media-body-custom">
								<h6 class="media-heading">Dirección:</h6>
								<p>
									<a target="_blank" href="https://www.google.com.ar/maps/place/Av.+V%C3%A9lez+Sarsfield+311,+X5000JJD+C%C3%B3rdoba/@-31.4196501,-64.1893135,18.04z/data=!4m5!3m4!1s0x9432a2840ecabfb1:0xe7d8f98c4a6aabc5!8m2!3d-31.418941!4d-64.1882202">
										Montevideo 628 | Córdoba Capital
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="media">
								<div class="media-left">
									<i class="fa fa-home"></i>
								</div>
								<div class="media-body media-body-custom">
									<h6 class="media-heading">Horario de Atención:</h6>
									<p>Lunes a Viernes: 9:00 a 18:00</p>
								</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-envelope"></i>
							</div>
							<div class="media-body media-body-custom">
								<h6 class="media-heading">Correo electrónico:</h6>
                <p>
                  contacto@estudiodellarossa.com.ar
                </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="media">
								<div class="media-left">
									<i class="fa fa-phone"></i>
								</div>
								<div class="media-body media-body-custom">
									<h6 class="media-heading">Teléfonos:</h6>
									<p>Cel: (351) - 3456388 / Cel: (351) - 2956046 </p>
								</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- Icons -->
		<ul class="icons">
				<!--li><a href="#" class="icon fa fa-twitter"><span class="label">Twitter</span></a></li-->
				<li><a href="https://www.facebook.com/estudiodellarossa" target="_blank" class="icon fa-brands fa-facebook"></a></li>
                <li><a href="https://www.tiktok.com/@estudiojuridico_nyd" target="_blank" class="icon fa-brands fa-tiktok"></a></li>
                <li><a href="https://www.instagram.com/estudiojuridico_nyd" target="_blank" class="icon fa-brands fa-square-instagram"></a></li>
                <li><a href="https://www.linkedin.com/company/dellarossa-asociados/" target="_blank" class="icon fa-brands fa-linkedin"></a></li>
                <li><a href="http://estudiojuridicodellarossa.blogspot.com.ar/" target="_blank" class="icon fa-brands fa-google-plus"></a></li>
        </ul>
	</div>
</div>
