
.footer-container {
  background-color: #000000;
  padding-bottom: 4rem;
}

.footer-container h6 {
	color: #b5c1aa;
	font: bold 1rem Arial, Helvetica, sans-serif;
	margin: 0;
	text-transform: capitalize;
}

.footer-container p {
	color: #fff;
	font-size: 1rem;
	margin: 0;
}

.footer-container .contact p {	
	padding-bottom: 1rem;
}

.footer-container .contact p a {	
	color: #b5c1aa;
}

.footer-container h5 {
	color: #b5c1aa;
}

.footer-container .links {
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
}

.footer-container a {
  color: inherit;
  border-bottom-color: rgba(71, 71, 71, 0.25);
}

.footer-container a:hover {
  color: #37c0fb;
  border-bottom-color: transparent;
}

.footer-container .container section {
	padding-bottom: 4rem;
	padding-top: 4rem;
}

.footer-container .icons {
  text-align: center;
  margin: 0;
}

.footer-container .icons a:hover {
  color: #fff;
}

.footer-container .copyright {
  //color: #999;
  margin-top: 1.5em;
  text-align: center;
  font-size: 0.9em;
}

.footer-container ul.icons {
  cursor: default;
  padding-top: 6em;
}

.footer-container ul.icons li {
  display: inline-block;
  line-height: 1em;
  padding-left: 1.5em;
}

.footer-container ul.icons li:first-child {
  padding-left: 0;
}

.footer-container ul.icons li a, ul.icons li span {
  font-size: 2em;
  border: 0;
}

.footer-container i {
	color: #fff;
}

.footer-container .media-body-custom p {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.footer-container .media-body-custom {
  padding-left: 1em;
}
