<div class="row">
  <div class="col-12">
    <h2 class="title">Qu&iacute;enes Somos</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>
      El equipo de trabajo que conforma el Estudio Jur&iacute;dico Nanzer &amp; Dellarossa se caracteriza por la atenci&oacute;n personalizada de nuestros clientes. Somos un grupo de personas que se interioriza de manera integral en sus dificultades legales y las circunstancias que las causan, buscando la forma de solucionarlos de un modo conciliador en primera instancia, evitando así judicializar problemas que pueden concluir satisfactoriamente acudiendo a la mediaci&oacute;n y al acercamiento de posiciones que en un primer momento suelen parecer irreconciliables.
    </p>
    <p>
      S&oacute;lo en el caso de que los medios alternativos de resoluci&oacute;n de conflictos no sean una posibilidad concreta y habiendo evacuado todas las alternativas con las que cuenta este equipo para alcanzar una soluci&oacute;n extrajudicial, es que se acude a la v&iacute;a judicial poniendo a disposici&oacute;n de quienes acuden al Estudio toda nuestra pericia en dicho &aacute;mbito, procurando darles una respuesta favorable.
    </p>
    <p>
      Somos un grupo de trabajo que brega por su satisfacci&oacute;n con todas las herramientas legales que nos otorga la experiencia que poseemos en el &aacute;mbito del derecho. Es por lo mencionado, porque nuestros clientes siempre se encuentran en primer lugar, que nos caracterizamos por la excelencia de los servicios brindados.
    </p>
  </div>
</div>
