<nav id="header">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="logo">        
          <a routerLink="/inicio">
            <img alt="Dellarossa & Asociados" class="img-fluid" src="images/logo_6.png">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <ul class="navigation">
          <li>
            <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
          </li>
          <li>
            <a routerLink="/quienes-somos" routerLinkActive="active">¿Quiénes Somos?</a>
          </li>
          <li>
            <a routerLink="/servicios" routerLinkActive="active">Servicios</a>
          </li>
          <li>
            <a routerLink="/blog"  routerLinkActive="active">Blog</a>
          </li>
          <li>
            <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
          </li>
        </ul>
      </div>
    </div>  
  </div>
</nav>

<nav class="navbar navbar-light bg-lignt" id="menu-small">
  <div class="container flex-fill">
    <div class="row align-items-center">
      <div class="col-10">
        <a href="/" class="navbar-brand">
          <img class="img-fluid" alt="Dellarossa & Asociados" src="images/logo_6.png">
        </a>
      </div>
      <div class="col-2">
        <div class="button-container">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon my-toggler"></span>
          </button>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="navbar-collapse collapse" id="collapsingNavbar">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/quienes-somos" routerLinkActive="active">¿Quiénes Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/servicios" routerLinkActive="active">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
            </li>          
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>