.msg-error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.msg-success {
    padding: 20px;
    background-color: green; /* Red */
    color: white;
    margin-bottom: 15px;
}

.disabled {
    background-color: gray;
}

.title-required {
    font-size: 11px;
}

.title {
  padding-top: 3rem;
  color: #57614e;
}

.row-contact {
  padding-bottom: 3rem;
}

.contact {
    list-style: none;
    margin: 0;
    padding: 0;
}