<div class="row">
  <div class="col-12">
    <h2 class="title">Contacto</h2>
  </div>
</div>
<div class="row row-contact">
	<div class="col-12 contact-container">
		<form (submit)="sendEmail(message)" class="message row" #Contactform="ngForm">
			<div class="form-group col-12 col-md-6">
				<label for="name">Nombre*</label>
				<input class="form-control" type="text" name="name" placeholder="Escriba su nombre" [(ngModel)]="message.name" required>
			</div>
			<div class="form-group col-12 col-md-6">
				<label for="email">Email*</label>
				<input class="form-control" type="text" name="email" placeholder="Escriba el email" [(ngModel)]="message.email" required>
			</div>
			<div class="form-group col-12">
				<label for="message">Mensaje*</label>
				<textarea class="form-control" rows="6" name="message" [(ngModel)]="message.message" required></textarea>
      </div>
      <div class="col-12">
          <input class="btn btn-success" id="submit" type="submit" name="submit" value="Enviar" [disabled]="!Contactform.form.valid || isProcessingEmail" />
      </div>
		</form>
		<span class="title-required" *ngIf="!Contactform.form.valid">*Por favor ingrese todos los datos requeridos</span>
		<div class="alert alert-success" *ngIf="!showMsgError && showMsgSucess">
				Gracias por enviar su consulta!.
		</div>
		<div class="alert alert-danger" *ngIf="showMsgError && !showMsgSucess" >
				Hubo un error al enviar su consulta. Por favor intente nuevamente.
		</div>
	</div>
</div>
