.row-container {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.image-service {
	text-align: center;
	cursor: default;
	color: #fff;
	display: inline-block;
	line-height: 8em;
	-webkit-box-shadow: 0 0 0 7px #fff, 0 0 0 8px #e0e0e0;
	box-shadow: 0 0 0 7px #fff, 0 0 0 8px #e0e0e0;
	margin: 0 0 2em;
}

.info-container h5 {
    color: #598262;
}

.info-container p {
	text-align: justify;
	font-size: 1rem;
}

.info-container {
	text-align: center;
}
