
<!--div id="header">
  <div class="clearfix">			
    <div class="logo">        
      <img width="362" height="80" alt="LOGO" src="images/logo_estudio.png">
    </div>
    <ul class="navigation">
      <li>
        <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li>
        <a routerLink="/quienes-somos" routerLinkActive="active">Quienes Somos</a>
      </li>
      <li>
        <a routerLink="/servicios" routerLinkActive="active">Servicios</a>
      </li>
      <li>
        <a routerLink="/blog" routerLinkActive="active">Blog</a>
      </li>
      <li>
        <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
      </li>
    </ul>
  </div>
</div-->
<app-navbar></app-navbar>
<div class="container">
  <router-outlet></router-outlet>  
</div>
<app-footer></app-footer>
