<div class="row">
	<div class="col-12">
		<h2 class="title">Nuestras noticias</h2>
	</div>
</div>
<div class="row" style="padding-bottom: 2rem;">
  <div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
						src="https://images.unsplash.com/photo-1520846386498-a5ced1c1389b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32a8cd493acdc5750e7a992f0f389312&auto=format&fit=crop&w=1050&q=80"
						alt="El divorcio en el nuevo Código Civil y Comercial de la Nación.-">
			<div class="card-body">
				<h5 class="card-title">El divorcio en el nuevo Código Civil y Comercial de la Nación.-</h5>
				<p class="card-text card-description">
                    Desde el mes de Agosto del año 2015, en que nuestros Códigos Civil y Comercial se unificaron y se introdujeron grandes cambios en distintos ámbitos de nuestro derecho, especialmente dentro...
                </p>
        <p class="card-text card-description"></p>
				<a routerLink="/blog-detail" [queryParams]="{id: 1}"
					 target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
  </div>
  <div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
						src="https://images.unsplash.com/photo-1457732796423-acd1e11b0db2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e7dc777c581bcdb86768578326224780&auto=format&fit=crop&w=1051&q=80"
						alt="¿Qué es el Mobbing o Acoso Laboral?">
			<div class="card-body">
				<h5 class="card-title">¿Qué es el Mobbing o Acoso Laboral?</h5>
				<p class="card-text card-description">
          El acoso laboral o “mobbing” es una forma de maltrato laboral, principalmente psicológico o moral, que se caracteriza por un hostigamiento persistente, sistemático y continuo sobre el trabajador de diferentes formas.
        </p>
        <p class="card-text card-description"></p>
				<a routerLink="/blog-detail" [queryParams]="{id: 2}"
						target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
  </div>
  <div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
						src="https://images.unsplash.com/photo-1526540711844-1efbc5685fbf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c4728736b7768501dc1d4ec75818dc49&auto=format&fit=crop&w=1050&q=80"
						alt="Me sancionaron en mi trabajo ¿qué hago?">
			<div class="card-body">
				<h5 class="card-title">Me sancionaron en mi trabajo ¿qué hago?</h5>
				<p class="card-text card-description">
          A lo largo de la vida laboral de un trabajador, es posible recibir sanciones por parte de la empresa, a veces por incumplimientos y otras veces como formas que tiene la empresa para preparar...
        </p>
        <p class="card-text card-description"></p>
				<a routerLink="/blog-detail" [queryParams]="{id: 3}"
						target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
  </div>
  <div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
						src="https://images.unsplash.com/photo-1518169709214-6d2fff4a8a4e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=584ea86c10f32759ccb0e29439ea265c&auto=format&fit=crop&w=1050&q=80"
						alt="Las vacaciones:¿Cuántos días me corresponden según mi antiguedad?">
			<div class="card-body">
				<h5 class="card-title">Las vacaciones: ¿Cuántos días me corresponden según mi antiguedad?</h5>
				<p class="card-text card-description">
          El tema de las vacaciones siempre fue una cuestión que parece no quedar muy claro, las dudas son muchas ...
        </p>
        <p class="card-text card-description"></p>
				<a routerLink="/blog-detail" [queryParams]="{id: 4}"
						target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
  </div>
  <div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
						src="https://images.unsplash.com/photo-1489514354504-1653aa90e34e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=140cfb556b29f561445e2bf7058c3609&auto=format&fit=crop&w=1051&q=80"
						alt="Reflexiones sobre reforma (flexibilización) laboral.-">
			<div class="card-body">
				<h5 class="card-title">Reflexiones sobre reforma (flexibilización) laboral.-</h5>
				<p class="card-text card-description">
          Tal cual se expresa en el título de la presente nota, debemos estar conscientes que el proyecto de ley presentado en nuestro Congreso, más que hablar de una reforma laboral, lo que hace es plasmar...
        </p>
        <p class="card-text card-description"></p>
				<a routerLink="/blog-detail" [queryParams]="{id: 5}"
						target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
					 src="https://images.unsplash.com/photo-1525332193053-dee9e7348624?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a171c64a1cb121a923c4e95d8308ca9e&auto=format&fit=crop&w=1050&q=80"
					 alt="La imputación en los casos de trabajo en equipo. El principio de confianza.-">
			<div class="card-body">
				<h5 class="card-title">La imputación en los casos de trabajo en equipo. El principio de confianza.-</h5>
				<p class="card-text card-description">
          Dentro del Derecho Laboral existe una temática por más interesante, tal es el trabajo en equipo, más específicamente...
        </p>
				<a routerLink="/blog-detail" [queryParams]="{id: 6}"
					 target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
					 src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2562d07e189d92150c0b24ee243c5af2&auto=format&fit=crop&w=1050&q=80"
					 alt="Convenio colectivo de trabajo empleados Call Center.-">
			<div class="card-body">
				<h5 class="card-title">Convenio colectivo de trabajo empleados Call Center.-</h5>
				<p class="card-text card-description">
						El 5 de Mayo del año 2014 se celebra en la ciudad de Córdoba, provincia del mismo nombre, el Convenio Colectivo de Trabajo que agrupa a los empleados de Centros de Contacto...
        </p>
				<a routerLink="/blog-detail" [queryParams]="{id: 8}"
						target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
  </div>
	<div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
						src="https://images.unsplash.com/photo-1504247143580-b04f71ee96c0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e46502c7718c656ad58218e64539c0ed&auto=format&fit=crop&w=1050&q=80"
						alt="Contrato de locación (Alquiler): La Fianza-">
			<div class="card-body">
				<h5 class="card-title">Contrato de locación (Alquiler): La Fianza-</h5>
				<p class="card-text card-description">
                    El artículo 1.986 del Código Civil Argentino nos tiene dicho que “Habrá contrato de fianza, cuando una de las partes se hubiere obligado accesoriamente por un tercero...
                </p>
				<a routerLink="/blog-detail" [queryParams]="{id: 9}"
						target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
  </div>
  <div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
					 src="https://images.unsplash.com/photo-1499377193864-82682aefed04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71c8f98090468daa45a13fe3e5785571&auto=format&fit=crop&w=1961&q=80"
					 alt="De la prescripción de las deudas: El derecho a una situación financiera óptima.-">
			<div class="card-body">
				<h5 class="card-title">De la prescripción de las deudas: El derecho a una situación financiera óptima.-</h5>
				<p class="card-text card-description">
						El Título II de la Sección Tercera de nuestro actual Código Civil, explicita los detalles de los diferentes momentos en que una deuda...
        </p>
				<a routerLink="/blog-detail" [queryParams]="{id: 7}"
						target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
	</div>
  <div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
						src="https://images.unsplash.com/photo-1500822976077-ea303cfdc9b4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=97debad01b3b26739fd071663c6960f0&auto=format&fit=crop&w=1050&q=80"
						alt="Trabajo en negro o clandestino.-">
			<div class="card-body">
				<h5 class="card-title">Trabajo en negro o clandestino.-</h5>
				<p class="card-text card-description">
          Muchas son las veces que nos encontramos en una relación laboral donde se nos dijo que para ingresar a trabajar la condición era que no se nos iba a poner en blanco o dar de alta en los organismos...
        </p>
				<a routerLink="/blog-detail" [queryParams]="{id: 11}"
						target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
  </div>
  <div class="col-12 col-md-6" style="padding-bottom: 1rem;">
		<div class="card">
			<img class="card-img-top"
						src="https://images.unsplash.com/photo-1473090928358-00fcead4f08c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f041998fd8a0cb09c1da409903822780&auto=format&fit=crop&w=984&q=80"
						alt="Accidente Laboral: La prevención como objetivo principal.-">
			<div class="card-body">
				<h5 class="card-title">Accidente Laboral: La prevención como objetivo principal.-</h5>
				<p class="card-text card-description">
						El primer incido del segundo artículo de la Ley de Riesgos del Trabajo, Nº 24.557, es demostrativo de la claridad...
        </p>
				<a routerLink="/blog-detail" [queryParams]="{id: 10}"
						target="_blank" class="btn btn-secondary">Continuar Leyendo
				</a>
			</div>
		</div>
  </div>
</div>
