<div class="row row-container">
	<div class="col-12 col-sm-8">
		<div class="main-title-container">
			<h5 class="title">Nuestro compromiso es con usted.</h5>
			<p>
				El Estudio Jurídico Nanzer &amp; Dellarossa le ofrece a sus clientes un servicio integral orientado preferentemente  a la prevención y conciliaci&oacute;n de los conflictos. En nuestro Estudio encontrar&aacute;
				la contenci&oacute;n y la orientaci&oacute;n legal que se ajuste exclusivamente a sus necesidades de una manera profesional, personalizada y expedita.
				Nuestra meta es la resoluci&oacute;n de conflictos utilizando para ello las herramientas legales que la pr&aacute;ctica y experiencia en materias espec&iacute;ficas como el derecho laboral o bancario nos otorga.
				Contamos con un grupo de profesionales y coordinadores de las diferentes &aacute;reas que conforman el Estudio de amplia y larga trayectoria dentro del derecho.
				Ponemos toda la maquinaria judicial al servicio de la resoluci&oacute;n de su conflicto.
			</p>
		</div>
	</div>
	<div class="col-12 col-sm-4">

			<h5 class="title">{{inspirationMessage.title}}</h5>
			<p>&ldquo;{{inspirationMessage.phraseOne}}&rdquo;</p>
			<p>&ldquo;{{inspirationMessage.phraseTwo}}&rdquo;</p>
			<span>{{inspirationMessage.author}}</span>

	</div>
</div>
<app-about></app-about>
<app-service-list></app-service-list>
<app-blog></app-blog>
<app-contact></app-contact>
